<div class="container">
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @customer.name %>
</p>

<p>
  <b>Gender:</b>
  <%= @customer.gender %>
</p>

<p>
  <b>Phone:</b>
  <%= @customer.phone %>
</p>

<p>
  <b>Email:</b>
  <%= @customer.email %>
</p>

<div class="btn-group">
<%= link_to 'Edit', edit_customer_path(@customer) , :class=>"btn btn-danger" %> 
<%= link_to 'Back', customers_path , :class=>"btn btn-warning" %>
</div>
</div>