<div class="container">
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  
  <%= @hotel.name %>
</p>

<p>
  <b>Adderss:</b>
  <%= @hotel.adderss %>
</p>

<div class="btn-group">
<%= link_to 'Edit', edit_hotel_path(@hotel) , :class=>"btn" %> 
<%= link_to 'Back', hotels_path , :class=>"btn btn-danger"%>
</div>
</div>